{% extends 'base.html.twig' %}

{% block title %}
Accueil
{% endblock %}
{% block body %}
{% block content %}

<body style="background-image: url(https://pbs.twimg.com/media/FKVvrrbX0AkwhhR?format=jpg&name=large); background-size: 100%;">

	</br>
	</br></br></br></br></br></br></br>
	<h1 class="text-center" style="font-family: 'Letters for Learners'; font-size:60px"><B>Le p'tit jardinier !
			</br>Des professionnels à votre service</B>
	</h1>
	</div>
</body>{% endblock %} {% endblock %}