{% extends 'base.html.twig' %}

{% block title %}
Ajouter
{% endblock %}

{% block body %}
{% block content %}

<body style="background-image: url(https://pbs.twimg.com/media/FMDVyYDWYAcpFSF?format=jpg&name=large); background-size: 100%;">
	</br>
	<p style="font-family: 'Letters for Learners';color: #fffff;text-align: center;font-size: 30px">
		<B>
			-------- AJOUTER UN CLIENT --------
		</B>
	</p>
	{{ include('client/_form.html.twig') }}
</body>
{% endblock %}
{% endblock %}